# Configuration file

##########################################################################################################
# crack hammer recipes
#--------------------------------------------------------------------------------------------------------#
# This section allows you to add your own recipes for the Crack Hammer (and other rock 
# crushers). Recipes are specified in semicolon (;) delimited lists of formulas in the 
# format modid:name#y->x*modid:name#y, where x is the number of items in a stack and y 
# is the metadata value. Note that both x and y are optional, so you can use the 
# formula modid:name->modid:name for most items/blocks. 
# 
# All properties in this section will be parsed for formulas, regardless their name. 
# This lets you organize your recipe lists for easier reading.
##########################################################################################################

"crack hammer recipes" {
    # Example: minecraft:stained_glass#11->minecraft:dye#4; minecraft:wool->4*minecraft:string
    S:custom=
}


fluids {
    # Enable the molten fluid of charcoal [default: true]
    B:"Enabled Charcoal"=false

    # Enable the molten fluid of coal [default: true]
    B:"Enabled Coal"=false

    # Enable the molten fluid of diamond [default: true]
    B:"Enabled Diamond"=false

    # Enable the molten fluid of emerald [default: true]
    B:"Enabled Emerald"=false

    # Enable the molten fluid of ender [default: true]
    B:"Enabled Ender"=false

    # Enable the molten fluid of gold [default: true]
    B:"Enabled Gold"=false

    # Enable the molten fluid of iron [default: true]
    B:"Enabled Iron"=false

    # Enable the molten fluid of obsidian [default: true]
    B:"Enabled Obsidian"=false

    # Enable the molten fluid of prismarine [default: true]
    B:"Enabled Prismarine"=true

    # Enable the molten fluid of quartz [default: true]
    B:"Enabled Quartz"=false

    # Enable the molten fluid of redstone [default: true]
    B:"Enabled Redstone"=false
}


general {
    # Disable the recipes by putting the input materials ore dictionary name ore registry name in this key.
    # The format is a semicolon (;) separate list of ore dictionary names (ie:  oreGold;oreIron;oreCopper - this would blacklist Gold, Iron and Copper ores from working [default: ]
    S:DisabledCrackhammerRecipes=

    # Enable the items for IC2 support even if the IC2 plugin is disabled [default: false]
    B:"Enable IC2 Items"=false

    # Enable the items for Mekanism support even if the Mekanism plugin is disabled [default: false]
    B:"Enable Mekanism Items"=false

    # If false, then MMDLib Achievements will be disabled (This is currently required if you disable any metals [default: true]
    B:achievements=false

    # If true, then MMDLib will scan the Ore Dictionary to automatically add a 
    # Crack Hammer recipe for every material that has an ore, dust, and ingot. [default: true]
    B:automatic_recipes=true

    # If true then you can crackhammer full stacks of dropped items. [default: false]
    B:crackhammer_full_stacks=false

    # If true, then the crack hammer cannot be crafted. [default: false]
    B:disable_crack_hammer=true

    # If true, then the crack hammer cannot crush ingots into powders if that 
    # crackhammer is not hard enough to crush the ingot's ore. [default: true]
    B:enforce_hardness=true

    # If true, then the crack hammer when crushing ingots/ores two dust will drop [default: true]
    B:hammer_produces_two_dust=true

    # Repair shields and armor with metal plates of the same type [default: true]
    B:repair_using_plates=true

    # If true, then the crack hammer can crush ingots/ores that a pickaxe of the same 
    # material can harvest. If false, then your crack hammer must be made of a harder 
    # material than the ore you are crushing. [default: true]
    B:strong_hammers=true

    # Upgrade a fully repaired shield to a material at least as hard as the shields current one using a plate of that material in the Anvil [default: true]
    B:upgrade_shields=true
}


metals {
    # Enable Charcoal Items and Materials [default: true]
    B:EnableCharcoal=false

    # Enable Coal Items and Materials [default: true]
    B:EnableCoal=false
}


"tools and items" {
    # Set to false to disable: Helmet, Chestplate, Leggings and Boots [default: true]
    B:"Enable Armor"=false

    # No, not the kind you drink at. The kind you find on jail-cells. [default: true]
    B:"Enable Bars"=true

    # Set to false to disable: Axe, Hoe, Pickaxe, Shovel and Sword [default: true]
    B:"Enable Basic Tools"=false

    # Set to false to disable: Nuggets, Ingots, Powders, Blends, Blocks and Ores [default: true]
    B:"Enable Basics"=true

    # Set to false to turn off custom bows and arrows [default: true]
    B:"Enable Bow and Arrow"=false

    # Ooooh, what does this button do? [default: true]
    B:"Enable Buttons"=true

    # Why would you want to disable a valuable early-game tool ?
    # The question we're all asking though is will it blend? [default: true]
    B:"Enable Crackhammer"=false

    # Set to false to disable custom crossbows and bolts [default: true]
    B:"Enable Crossbow and Bolts"=false

    # Doors of many wondrous materials [default: true]
    B:"Enable Door"=true

    # Enable experimental features (Don't blame us if they burn down your cat or kill your house) [default: false]
    B:"Enable Experimental"=false

    # Set to false to turn off added fishing rods [default: true]
    B:"Enable Fishing Rod"=true

    # A lot of mods have Gears, we can provide them. Turn this off if you think you don't need them. [default: true]
    B:"Enable Gear"=false

    # Set to false to disable extra Horse Armor [default: true]
    B:"Enable Horse Armor"=false

    # Levers of all different materials - they even have different hardness's [default: true]
    B:"Enable Lever"=true

    # Enable some pieces to support other mods and integrating with them (currently just 'casings' and 'dense plates') [default: true]
    B:"Enable Mod Support"=true

    # IC2, Tech Reborn and a number of other mods require plates of material. This provides recipes for them. [default: true]
    B:"Enable Plates"=false

    # Now your traps can be hidden in even more places! [default: true]
    B:"Enable Pressure-plates"=true

    # Spare the Rod... Wait, no, that's Biblical...
    # This controls whether or not rods of various materials (similar to Tinkers' Construct Tool Rod) sare available [default: true]
    B:"Enable Rod"=true

    # Enable Scythe [default: false]
    B:"Enable Scythe"=false

    # I love Shears, do you? If you're a Shears hater, set this to false [default: true]
    B:"Enable Shears"=true

    # The Combat Update brought Shields to Vanilla Minecraft. Turn this off if you don't want them to multiply [default: true]
    B:"Enable Shield"=true

    # Slabs of all the materials that get added [default: true]
    B:"Enable Slab"=true

    # Turn this off to disable nugget-sized piles of dust.
    # (Dust is a drug and drugs are bad. Don't do drugs, mmm-kay ? [default: true]
    B:"Enable Small Dust"=true

    # Stairs of our wonderful metals! Come and get your own - or don't. It's up to you. [default: true]
    B:"Enable Stairs"=true

    # Do you want trapdoors? Because that's how you get trapdoors! [default: true]
    B:"Enable Trapdoors"=true

    # Hey, Teachers! Leave those kids alone! [default: true]
    B:"Enable Wall"=true

    # Melt down armor and tools for full value [default: true]
    B:"Furnace Cheese"=true

    # Mimic 1.11.2 armor and tool melting.
    #  Overridden by Furnace Cheese [default: true]
    B:Furnace1112=true

    # Number of Gears per recipe [range: 1 ~ 64, default: 4]
    I:"Gear Quantity"=4

    # Number of Plates per recipe [range: 1 ~ 64, default: 3]
    I:"Plate Quantity"=3

    # Number of Rods per recipe [range: 1 ~ 64, default: 4]
    I:"Rod Quantity"=4
}


vanilla {
    # Enable Diamond Additions like Walls, Slabs and Pressure-plates [default: true]
    B:EnableDiamond=true

    # Enable Emerald Additions like Walls, Slabs and Pressure-plates [default: true]
    B:EnableEmerald=true

    # Enable Ender Additions like Walls, Slabs and Pressure-plates [default: true]
    B:EnableEnder=true

    # Enable Gold Additions like Walls, Slabs and Pressure-plates [default: true]
    B:EnableGold=true

    # Enable Iron Additions like Walls, Slabs and Pressure-plates [default: true]
    B:EnableIron=true

    # Enable Lapis Additions like Walls, Slabs and Pressure-plates [default: true]
    B:EnableLapis=true

    # Enable Obsidian Additions like Walls, Slabs and Pressure-plates [default: true]
    B:EnableObsidian=true

    # Enable Prismarine Additions like Walls, Slabs and Pressure-plates [default: true]
    B:EnablePrismarine=true

    # Enable Quartz Additions like Walls, Slabs and Pressure-plates [default: true]
    B:EnableQuartz=true

    # Enable Redstone Additions like Walls, Slabs and Pressure-plates [default: true]
    B:EnableRedstone=true

    # Enable Stone Additions like Walls, Slabs and Pressure-plates [default: true]
    B:EnableStone=true

    # Enable Wood Additions like Walls, Slabs and Pressure-plates [default: true]
    B:EnableWood=true
}


